[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Sphinx = "~=2.4.4"
sphinx-autoapi = {extras = ["go"],version = "*"}
sphinx_rtd_theme = "*"
sphinxcontrib-golangdomain = "*"
recommonmark = "*"

[dev-packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
